body {
  background-color: #0000FF;
  color: #FFFFFF;
  text-align: center;
}

p {
  font-style: normal;
  font-size: 20px;
}

.mTitle {
  color: #FFFFFF;
  font-weight:500;
  text-align: center;
}

.mClock {
  color: #FFFFFF;
  font-weight:500;
  font-size: 100px;
  text-align: center;
}

.cold {
  background-color: #95A5A6;
}

.chilly {
  background-color: #1ABC9C;
}

.nice {
  background-color: #2980B9;
}

.warm {
  background-color: #E67E22;
}

.hot {
  background-color: #E74C3C;
}
